.row
	// Col cur level
	.col-xs-9.col-md-10
		// Inline row: top row text
		.row.toptext
			.col-xs-8.left
				= ability.display_name
			.col-xs-4.right
				| level&nbsp;
				= ability.level
		// Inline row: 6 blocks to denote level class
		.row
			each b in [0, 1, 2, 3, 4, 5]
				if b == 0
					.col-xs-2.bcol.first
						include block
				else if b == 5
					.col-xs-2.bcol.last
						include block
				else
					.col-xs-2.bcol
						include block

		// Inline row: bottom row text
		.row.bottomtext
			.col-xs-6.left
				= ability.tag
			.col-xs-6.right.dark
				= ability.needed
				| &nbsp;&rarr;

	// Col exp to next level
	.col-xs-3.col-md-2.donut
		.donutchart
