h2=ability.display_name
if ability.level < 25
	p === --- --- --- ---
	h4 Novice
else if ability.level < 50
	p --- === --- --- ---
	h4 Apprentice
else if ability.level < 75
	p --- --- === --- ---
	h4 Journeyman
else if ability.level < 100
	p --- --- --- === ---
	h4 Expert
else
	p --- --- --- --- ===
	h4 Master


h3 OVERALL
p=ability.level
p abilility level
p exp
p=ability.exp
p next
p=ability.needed

h3 SKILLS TODAY
for skill in ability.skills_today
	include skill_today