h2=ability.display_name
// todo: do some logic to display bar... or caclulate this already
// in web.js?

h3 OVERALL
p=ability.level
p abil. level
p exp
p=ability.exp
p next
p=ability.needed

h3 SKILLS TODAY
for skill in ability.skills_today
	include skill_today