h2=ability.display_name
if ability.level < 25
	p.bar === --- --- --- ---
	h4 Novice
else if ability.level < 50
	p.bar --- === --- --- ---
	h4 Apprentice
else if ability.level < 75
	p --- --- === --- ---
	h4 Journeyman
else if ability.level < 100
	p --- --- --- === ---
	h4 Expert
else
	p --- --- --- --- ===
	h4 Master


.overall
	h3 OVERALL
	table.alvltable
		tr
			td(width=20, rowspan=2)
				p.alvl=ability.level
			td(width=80, rowspan=2)
				p.alvltxt ability
				p.alvltxt2 level
			td(width=150)
				b.aexptxt exp &nbsp;
				b.aexp=ability.exp
		tr
			td
				b.anexttxt next &nbsp;
				b.anext=ability.needed
		tr
			td(colspan=3)
				p big row thing here

.skillstoday
	h3 SKILLS TODAY
	for skill in ability.skills_today
		include skill_today
