doctype html
html(lang='en')
	head
		title levelup

		//- Crazy Bootstrap mobile tag.
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		//- Bootstrap: Latest compiled and minified CSS
		link(rel="stylesheet" href="../css/bootstrap.min.css")

		//- Our custom stylesheet
		link(rel='stylesheet' href='../css/style.css')

	body
		.container
			| You didn't log in successfully. Sadness.
		include js
