doctype html
html(lang='en')
	head
		title Levelup

		link(href='../css/levelup.css', rel='stylesheet')
		include fonts
	body
		include plvl
		include abilities
		include boss_list
		include background
