//- Google charts API: either local or google-hosted
script(src="https://www.google.com/jsapi")

//- jQuery
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

//- Pie chart drawing and manipulation code
script(src='../js/pies.js')
