h1 LEVEL
table.plvltable
	tr
		td(rowspan=2)
			p.plvl=level_data.level
		td.bottomcell
			p.plvl_headings EXP
		td.bottomcell
			p.plvl_mins=level_data.exp
	tr
		td.topcell
			p.plvl_headings NEXT
		td.topcell
			p.plvl_mins=level_data.needed
