// {
//   "code_name": string,
//   "display_name": string,
//   "exp_today": int,
//   "goal": int
//   "need_today": int // goal - exp_today or 0
// },
table.todaytable
	tr
		td

			h5=skill.display_name
		td(width=40)
			p.exptoday=skill.exp_today
	tr
		td(colspan=2)
			p big progress bar here
	tr
		td(colspan=2).needorgoal
			if skill.need_today > 0
				p.need
					=skill.need_today
					| &nbsp;needed
			else
				p.goal
					| goal was&nbsp;
					=skill.goal
