//- each ability:
//-   name: str
//-   short: str
form(id="abilityAdd" onsubmit="addAbility()" action="javascript:void(0);")
	.row.abilityRow
		.col-xs-4
			input(type="text" name="name" placeholder="ability name")
		.col-xs-3
			input(type="text" name="short" placeholder="abbreviation")
		.col-xs-5
			button.btn.btn-default.btn-md(type="submit")
				span.glyphicon.glyphicon-ok
				| &nbsp; Add
