/* Overall styling... we need to keep away from the yellow bar on the left. */
body {
	background-color: #1F497D;
	margin-left: 90px;
}

/* Fonts that are used frequently. */

/* LEVEL, SKILLS */
h1 {
	font-family: "Avenir";
	color: #F8B145;
	font-size: 76pt;
	line-height: 80pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
}

table + h1 {
	margin-top: 100px;
}

h2, h3, .plvl_headings {
	clear: both;
	font-family: "Avenir";
	font-weight: bold;
	color: #1F497D;
	font-size: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* COMPUTER SCIENCE, LANGUAGE AND KNOWLEDGE, .... */
h2 {
	padding-top: 60px;
}

/* First one you don't want to have a big padding*/
h1 + h2 {
	padding-top: 0px;
}
/* OVERALL, TODAY */
h3 {
	font-size: 26pt;
	font-style: italic;
}

/* Novice, Apprentice, Journeyman, Expert, Master */
h4 {
	clear: both;
	font-family: "Avenir";
	font-size: 26pt;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Anki: CS, Tech Reading, Projects, ... */
h5 {
	font-family: "Avenir";
	font-weight: bold;
	font-size: 18pt;
	line-height: 18pt;
	color: #1F497D;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;

}

/* Specialist fonts */

/* Dark blue, italic (frequently used) */
.aexptxt, .anexttxt, .alvltxt, .alvltxt2, .goal {
	font-family: "Avenir";
	font-weight: bold;
	color: #1F497D;
	font-style: italic;
}

.bar {
	margin-top: 0px;
	margin-bottom: 0px;
}

.plvltable {
	margin-top: 0px;
}

.alvltable {
	/*margin-top: -40px;*/
}

/* Mono font, white*/
.plvl, .plvl_mins, .alvl, .aexp, .anext, .exptoday, .need {
	font-family: "Cutive Mono";
	color: white;
}

.expcell {
	text-align: right;
}

.needorgoal {
	font-style: italic;
	text-align: right;
}

.skillstoday, .overall {
	float: left;
}

.overall {
	margin-right: 100px;
}

.exptoday {
	text-align: right;
}

.alvl {
	font-size: 40pt;
	line-height: 10pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

.plvl {
	font-size: 140pt;
	line-height: 90pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10pt;
	font-weight: bold;
}

.plvl_headings {
	line-height: 36pt;
	margin-right: 15pt;
}

.plvl_mins {
	font-size: 36pt;
	line-height: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.todaytable {
	float: left;
	margin-right: 40px;
}

.todaytable p {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Not working... */
.todaytable td.bar {
	max-height: 7px;
	padding: 0px;
	margin: 0px;
}

/* Ability level */
.alvltxt2 {
	margin-top: -25px;
}

/* For alignment */
.topcell {
	vertical-align: top;
}

.bottomcell {
	vertical-align: bottom;
}

progress {
	width: 100%;
}

progress.skill {
	width: 250px;
}

/* indeterminate (full) */
progress:not([value]) {
	/* Don't think we need anything here...*/
}

/* partially-full */
progress[value] {
	height: 7px;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
}

/* Container*/
progress[value]::-webkit-progress-bar {
	/*border-radius: 2px;*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	background-color: #1F497D;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

progress[value]::-webkit-progress-value {
	background-color: #fff;
}

progress.pbarplvl[value]::-webkit-progress-value {
	background-color: #F8B145;
}

progress.pdone[value]::-webkit-progress-value {
/*	background-image:
		-webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
		-webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25));
*/	background-color: #F8B145;
    background-size: 35px 7px, 100% 100%, 100% 100%;

    /* This would animate. */
	/*-webkit-animation: animate-stripes 5s linear infinite;*/
    /*animation: animate-stripes 5s linear infinite;*/
}

.block, .ublock, .ablock {
	width: 60px;
	height: 10px;
	float: left;
	margin-right: 20px;
}

.ublock {
	background: #1F497D;
}

.ablock {
	background: #F8B145;
}

/* Background objects for color */

.circle {
	position: fixed;
	bottom: -1500px;
	left: -1500px;
	z-index: -2;
	width: 3000px;
	height: 3000px;
	background-color: #4F81BD;
	-moz-border-radius: 1500px;
	-webkit-border-radius: 1500px;
	border-radius: 1500px;
}

.line {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 70px;
	height: 1400px;
	background-color: #F8B145;
}
