doctype html
html(lang='en')
	head
		title Levelup

		link(href='levelup.css', rel='stylesheet')
		include fonts
	body
		include views/plvl
		include views/abilities
		include views/boss_list
		include background