/* Overall styling... we need to keep away from the yellow bar on the left. */
body {
	background-color: #1F497D;
	margin-left: 70px;
}

/* Fonts that are used frequently. */

h1 {
	font-family: "Avenir";
	color: #F8B145;
	font-size: 76pt;
	line-height: 80pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2, h3, .plvl_headings {
	font-family: "Avenir";
	font-weight: bold;
	color: #1F497D;
	font-size: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3 {
	font-size: 26pt;
	font-style: italic;
}

h4 {
	font-family: "Avenir";
	font-size: 26pt;
	color: white;
}

/* Specialist fonts */

.plvl, .plvl_mins {
	font-family: "Cutive Mono";
	color: white;
}

.plvl {
	font-size: 140pt;
	line-height: 140pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10pt;
	font-weight: bold;
}

.plvl_headings {
	line-height: 36pt;
	margin-right: 15pt;
}

.plvl_mins {
	font-size: 36pt;
	line-height: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;	
	text-align: right;
}

/* For alignment */
.topcell {
	vertical-align: top;
}

.bottomcell {
	vertical-align: bottom;
}


/* Background objects for color */

.circle {
	position: fixed;
	bottom: -1500px;
	left: -1500px;
	z-index: -2;
	width: 3000px;
	height: 3000px;
	background-color: #4F81BD;
	-moz-border-radius: 1500px;
	-webkit-border-radius: 1500px;
	border-radius: 1500px;
}

.line {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 70px;
	height: 1400px;
	background-color: #F8B145;
}