/* Overall styling... we need to keep away from the yellow bar on the left. */
body {
	background-color: #1F497D;
	margin-left: 90px;
}

/* Fonts that are used frequently. */

/* LEVEL, SKILLS */
h1 {
	font-family: "Avenir";
	color: #F8B145;
	font-size: 76pt;
	line-height: 80pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -20px;
}

/* COMPUTER SCIENCE, LANGUAGE AND KNOWLEDGE, .... */
h2, h3, .plvl_headings {
	clear: both;
	font-family: "Avenir";
	font-weight: bold;
	color: #1F497D;
	font-size: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* OVERALL, TODAY */
h3 {
	font-size: 26pt;
	font-style: italic;
}

/* Novice, Apprentice, Journeyman, Expert, Master */
h4 {
	font-family: "Avenir";
	font-size: 26pt;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Anki: CS, Tech Reading, Projects, ... */
h5 {
	font-family: "Avenir";
	font-weight: bold;
	font-size: 18pt;
	line-height: 18pt;
	color: #1F497D;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;

}

/* Specialist fonts */

/* Dark blue, italic (frequently used) */
.aexptxt, .anexttxt, .alvltxt, .alvltxt2 {
	font-family: "Avenir";
	font-weight: bold;
	color: #1F497D;
	font-style: italic;
}

.bar {
	margin-top: 0px;
	margin-bottom: 0px;
}

.plvltable {
	margin-top: -40px;
}

.alvltable {
	/*margin-top: -40px;*/
}

/* Mono font, white*/
.plvl, .plvl_mins, .alvl, .aexp, .anext, .exptoday, .need {
	font-family: "Cutive Mono";
	color: white;
}

.needorgoal {
	font-style: italic;
	text-align: right;
}

.skillstoday, .overall {
	float: left;
}

.exptoday {
	text-align: right;
}

.alvl {
	font-size: 40pt;
	line-height: 10pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

.plvl {
	font-size: 140pt;
	line-height: 140pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10pt;
	font-weight: bold;
}

.plvl_headings {
	line-height: 36pt;
	margin-right: 15pt;
}

.plvl_mins {
	font-size: 36pt;
	line-height: 36pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
}

.todaytable {
	float: left;
	margin-right: 60px;
}

.todaytable p {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Ability level */
.alvltxt2 {
	margin-top: -25px;
}

/* For alignment */
.topcell {
	vertical-align: top;
}

.bottomcell {
	vertical-align: bottom;
}


/* Background objects for color */

.circle {
	position: fixed;
	bottom: -1500px;
	left: -1500px;
	z-index: -2;
	width: 3000px;
	height: 3000px;
	background-color: #4F81BD;
	-moz-border-radius: 1500px;
	-webkit-border-radius: 1500px;
	border-radius: 1500px;
}

.line {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 70px;
	height: 1400px;
	background-color: #F8B145;
}
