//- level_data
//-   .progress (Number, how much of exp to next player level gotten so far)
//-   .needed   (Number, how much of exp to next player level level to go)
//-   .level    (Number, player level)

//- Row: level
.row
	//- Col progress
	.col-xs-12.progressDiv
		progress(max=(level_data.progress + level_data.needed), value=level_data.progress)
//- Row: level info
.row
	//- Col cur level
	.col-xs-6.plvlcur
		| level&nbsp;
		= level_data.level
	//- Col exp to next level
	.col-xs-6.plvlnext
		= level_data.needed
		| &nbsp;&rarr;
//- Row: spacing
.row
	.col-xs-12.spaceRow
