//- skill
//-   code_name       (String)
//-   display_name    (String)
//-   exp_today       (Number (integer))
//-   goal            (Number (integer))
//-   need_today      (Number (integer, goal - exp_today or 0))

//- This is a circle
.col-xs-5ths.circleDiv.uncomplete
		.radial-progress
			.circle
				.mask.full
					.fill
				.mask.half
					.fill
					.fill.fix
				.shadow
			.inset
				input.percentage(name=skill.display_name placeholder=skill.exp_today type='number' goal=skill.goal)
		p.circleLabel
			= skill.display_name
