//- each ability:
//-   name: str
//-   short: str
.row.abilityRow
	.col-xs-4
		= ability.name
	.col-xs-3
		= ability.short
	.col-xs-5
		//- | TODO: level 55 | journeyman
		//- br
		//- | TODO: (240 exp / lvl)
